.ai-answer-reason {
  padding: 15px 0px;

  &__title {
    display: block;
    padding: 15px 0px;
  }
  &__content {
    display: block;

    width: 100%;
    min-height: 33px;
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:focus {
      outline: none;
      border-color: #409eff;
    }
  }
}