.ai-choice {
  background-color: #ffffff;
  &__list {
    padding: 15px 0px;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 100%;
      padding: 15px;
      border-radius: 6px;
      background-color: $--choice-bg-color-default;
      margin-bottom: 20px;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 14px;
    }

    .is-active {
      background-color: $--choice-bg-color-active;
      font-size: 16px;
      font-weight: 600;
    }
  }
}