.ai-custom-rate {
  background-color: #fff;
  margin-bottom: 15px;

  &__title {
    margin-bottom: 15px;
  }

  &__content {
    margin-bottom: 15px;

    &__item {
      width: auto;
      padding: 0 10px;
    }
  }
}